$main-red: #dc262d;
$darker-red: #ba131a;
$gray-section: #f4f4f4;
$gray-text: rgba(0, 0, 0, 0.56); // szary text
$offers-background: rgba(174, 174, 174, 0.44); // kolor kart w co oferujemy
$card-color: #fbf4f4; // kolor kartki
$border-light-color: #d4c5c5;
