$main-red: #dc262d;
$darker-red: #ba131a;
$light-red: #F6E4E5;
$light-red-filter: invert(87%) sepia(14%) saturate(154%) hue-rotate(302deg) brightness(102%) contrast(98%);
$gray-section: #f4f4f4;
$gray-text: rgba(0, 0, 0, 0.56); // szary text
$offers-background: rgba(174, 174, 174, 0.44); // kolor kart w co oferujemy
$card-color: #fbf4f4; // kolor kartki
$border-light-color: #d4c5c5;
$gray-text: #e0d2d2;
$light-black: #1d1b1b;
