@use '../abstracts' as *;

.header {
  position: relative;
  background-image: url('@/img/header.webp');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  padding-top: $nav-height;
  &-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .75;
  }
  &-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    height: Calc(100% - $nav-height);
    z-index: 10;
    &-heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      line-height: 1.15em;
      color: #fff;
      .highlight {
        font-weight: bold;
      }
    }
    .button {
      font-size: 1.8rem;
    }
  }
}

@media(min-width: 340px){
  .header {
    &-content {
      &-heading{
        font-size: 2.5rem;
      }
      .button {
        font-size: 2.2rem;
      }
    }
  }
}

@media(min-width: 400px){
  .header {
    &-content {
      &-logo {
        max-width: 280px
      }
    }
  }
}

@media(min-width: 576px){
  .header {
    &-content {
      &-logo {
        max-width: 320px
      }
      &-heading {
        font-size: 3rem;
      }
    }
  }
}

@media(min-width: 768px){
  .header {
    &-content {
      &-logo {
        max-width: 380px
      }
      &-heading {
        font-weight: lighter;
        font-size: 3.3rem;
        .highlight {
          font-weight: normal
        }
      }
    }
  }
}

@media(min-width: 992px){
  .header {
    &-content {
      &-logo {
        max-width: 410px
      }
      &-heading {
        font-size: 3.5rem;
      }
    }
  }
}